.technicalSkills {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 1200px;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fadeIn {
  opacity: 1;
}

.technicalSkills h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: rgba(232, 25, 25, 0.9);
}

.skillsGrid {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: center;
}

.skillsItem {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 2;
}

.gridItem {
  border: 1px solid black;
}

.skillsItem > h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.skillsList {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.skillsList > span {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 1.2rem;
  border: 1px solid rgba(187, 19, 19, 0.6);
  background-color: rgba(200, 66, 66, 0.5);
  color: #f8e7e7;
}

@media (max-width: 768px) {
  .skillsItem {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 1rem;
  }

  .skillsItem > h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .skillsList {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .skillsList > span {
    padding: 0.3rem 0.65rem;
    margin: 0.3rem;
    border-radius: 1.2rem;
    border: 1px solid rgba(187, 19, 19, 0.6);
    background-color: rgba(200, 66, 66, 0.5);
    color: #f8e7e7;
  }
}
