.aboutMe {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  border-radius: 1em;
  margin-bottom: 4rem;
  opacity: 1; /* Make visible by default */
  transition: opacity 1s ease-out;
}

.fadeIn {
  opacity: 1;
}
