body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navBar {
  width: 100%;
  background-color: #bb1313;
  display: flex;
  position: sticky;
}

.logo {
  flex-shrink: 0;
  padding: 10px 0px 10px 15px;
}

.navLinks {
  margin-left: 1.5em;
  display: flex;
  align-items: center;
}

.navLinks li {
  margin-right: 1em;
}

.navLinks a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  transition: all 0.1s ease;
  border-radius: 3px;
  font-size: 1em;
}

.navLinks a:hover {
  color: #bb1313;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}
