.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
